In [1]:
from bs4 import BeautifulSoup as soup
import requests

In [2]:
from urllib.request import urlopen as ureq

In [3]:
import socket

In [4]:
v=socket.gethostname()

In [5]:
s=socket.gethostbyname(v)
j="https://www.indeed.co.in/jobs?q=data+analyst&l=Delhi&start=10"

In [6]:
SearchJob=input("Job search Indeed")
Location=input("Location ")
url=["https://www.indeed.co.in/jobs?q="+str(SearchJob)+"&l="+str(Location)]
string="https://www.indeed.co.in/jobs?q="+str(SearchJob)+"&l="+str(Location)+"&start=10"
for i in range(10,300,10):
    url.append(string.replace("&start=10","&start="+str(i)))

Job searchdata
Location delhi

In [7]:

proxies={'http':'http://user:pass@192.168.43.58:3128/'}
records=[]
for h in range(0,len(url)):
    s=requests.get(url[h],proxies=proxies)
    page_soup=soup(s.content,"html.parser")
    for i in page_soup.find_all('div'):
        if (i.find("div",attrs={'class':'title'})!=None ):
            profile1=i.find("div",attrs={'class':'title'}).text
            profile=profile1.replace("\n","")
        
        else:
            profile="Not Known"
        if i.find("div",attrs={'class':'sjcl'})!=None:
            company_nameAndAddress1=i.find("div",attrs={'class':'sjcl'}).text
            company_nameAndAddress=company_nameAndAddress1.replace("\n","")
        else:
            company_nameAndAddress="Not Known"
        if i.find("div",attrs={'class':'salarySnippet salarySnippetDemphasizeholisticSalary'})!=None: 
            salary1=i.find("div",attrs={'class':'salarySnippet salarySnippetDemphasizeholisticSalary'}).text
            salary=salary1.replace("\n","")
        else:
            salary="Not Known"
        if i.find("div",attrs={'class':'experience'})!=None and i.find("div",attrs={'class':'summary'})!=None:
            experience1=i.find("div",attrs={'class':'experience'}).text
            experience=experience1.replace("\n","")
        else:
            experience="Not Known"
        if i.find("div",attrs={'class':'summary'})!=None:
            summary1=i.find("div",attrs={'class':'summary'}).text
            summary=summary1.replace("\n","")
        else:
            summary="Not Known"
        if (profile!="Not Known" and company_nameAndAddress!="Not Known"):
            records.append((profile,company_nameAndAddress,salary,summary))

In [9]:
import pandas as pd

In [10]:
Portal=pd.DataFrame(records,columns=["Role/profile","CompanyDetails","Salary","ExpSum"])

In [11]:
Portal

,Role/profile,CompanyDetails,Salary,ExpSum
0,PostgreSQL Data Base Administrator,"BOEING4.0Delhi, Delhi",Not Known,The selected individual will be working in th...
1,3DX Systems Engineer,"BOEING4.0Delhi, Delhi",Not Known,"At Boeing, we are all innovators on a mission..."
2,Data Entry Internship in Delhi NCR at Retreats...,"Retreatsforme.comRajouri Garden, Delhi, Delhi","₹4,000 - ₹7,000 a month",Supporting our team with data entry.Making en...
3,Apriso Developer,"BOEING4.0Delhi, Delhi",Not Known,"Familiar with Apriso Configure applications, ..."
4,DEO (Data Entry Operator) - Freshers Only,"Advance Tech Services Pvt LtdLajpat Nagar, Del...","₹13,000 - ₹19,000 a month",\*Verify data and correct database.We are loo...
...,...,...,...,...
526,Female Admission Counselor,"IITM CollegeJanakpuri, Delhi, Delhi","₹15,000 - ₹30,000 a month","Calling students in the absence of caller, ge..."
527,Delivery Drivers / Delivery Executives / Deliv...,"Ride.Swiggy3.8Delhi, Delhi","₹35,000 a month","""Official Job posted from Swiggy""*.Join Swigg..."
528,data miner,"fusioncapDelhi, Delhi","₹3,00,000 - ₹5,00,000 a year",Understanding the broad framework on the rese...
529,PostgreSQL Data Base Administrator,"BOEING4.0Delhi, Delhi",Not Known,The selected individual will be working in th...
530,3DX Systems Engineer,"BOEING4.0Delhi, Delhi",Not Known,"At Boeing, we are all innovators on a mission..."

In [5]:
import requests

In [6]:
Search1=input("Enter Search What you want")
Search=Search1.replace(" ","%20")
url=["https://www.monsterindia.com/srp/results?query="+str(Search)+"&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4"]
se="https://www.monsterindia.com/srp/results?query="+str(Search)+"&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4"
for k in range(25,400,25):
    url.append(se.replace("results?","results?start="+str(k)+"&sort=1&limit=25&"))

Enter Search What you wantdata analyst

In [7]:
url

['https://www.monsterindia.com/srp/results?query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=25&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=50&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=75&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=100&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=125&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=150&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=175&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=200&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=225&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=250&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=275&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=300&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=325&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=350&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4',
 'https://www.monsterindia.com/srp/results?start=375&sort=1&limit=25&query=data%20analyst&searchId=0c779264-4bb7-4f08-bf8f-bd3d0ca75ce4']

In [ ]:
records

In [10]:
import pandas as pd

In [11]:
frame=pd.DataFrame(records,columns=["Profile","Company Details","Experience","Salary","Job Description"])

In [12]:
frame.head(6)

Empty DataFrame
Columns: [Profile, Company Details, Experience, Salary, Job Description]
Index: []